<html>
<head>
    <meta charset= "UTF-8">
    <title>Yard Sale</title>
    <link rel="stylesheet" href="./css/jass.css">
    <link rel="stylesheet" href="./css/style/css">
</head>

<body>
    <div class="justify-space-around">
    <header class="display-flex align-center">
        <h1>
            Yard Sale!!
        </h1>
    </header>
    <main class="container container-fluid mt-6">
        {{{body}}}
    </main>
    </div>
</body>
</html>