<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yard Sale</title>
    <!-- link to new css -->
    <link rel="loginpage" href="./login.css">
    <link rel="stylesheet" href="./style.css"> 
</head>
<body>
    <div class="container" id="searchBar">
    <input id="searchInput" type="text" placeholder="Search"> 
    <button type="submit"></button>
    <ul class="searchList hide">
        <li id="item">Furniture</li>
        <li id="item">Electronics</li>
        <li id="item">Household</li>
        <li id="item">Clothing</li>
        <li id="item">Baby</li>
        <li id="item">Pets</li>
        <li id="item">Misc</li>
        <li id="item">Special Occasions</li>
        <li id="item">Whats Hot</li>
        <li id="item">Sale</li>
        
    </ul>
    </div>
<!-- link to new js -->
    <script src= "server.js"> </script>
</body>
</html>